.container-controle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  border-radius: 10px;
  width: 90%;
  height: 100px;
  color: white;
  background-color: #282C34;
}

.container-input {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  margin-left: 20px;
  font-size: 20px;
}

.input-controle {
  font-size: 20px;
}

.btn-controle {
  width: 110px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  
}

